<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/image1.jpg" alt="1" class="item">
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/img/image2.jpg" alt="2" class="item">
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/img/image3.jpg" alt="3" class="item">
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/img/image4.jpg" alt="4" class="item">
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/img/image5.jpg" alt="5" class="item">
      </ng-template>
    </ngb-carousel>
  </div>
</section>
